{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home" data-home="posts">
        <h2>Software</h2></br>

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}


        {{- /* Software list */ -}}
        {{- $pages := where .Site.RegularPages "Type" "software" -}}


        {{ range sort .Pages ".Params.end" "desc" }}
            {{/* Build a slice of pages with their order embedded */}}
            {{- .Render "software_item" -}}
        {{ end }}

    </div>
{{- end -}}
