{{- define "content" -}}
    {{- $params := .Scratch.Get "params" -}}
    {{- $profile := .Site.Params.home.profile -}}
    {{- $posts := .Site.Params.home.posts -}}

    <div class="page home" data-home="posts">
<!--         style="  display: grid; grid-template-columns: repeat(2, 1fr); grid-gap: 10px;"> -->
        <h2>Lab members</h2></br>

        {{- /* Content */ -}}
        {{- if .Content -}}
            <div class="single">
                <div class="content" id="content">
                    {{- dict "Content" .Content "Ruby" $params.ruby "Fraction" $params.fraction "Fontawesome" $params.fontawesome | partial "function/content.html" | safeHTML -}}
                </div>
            </div>
        {{- end -}}

        {{- /* People list */ -}}
        {{- $pages := where .Site.RegularPages "Type" "people" -}}

        {{ $roleOrder := dict
            "Professor"           1
            "Associate Professor" 2
            "Assistant Professor" 3
            "Postdoc"             4
            "Researcher"          5
            "PhD Student"         6
        }}

        <div class="post-grid">
        {{ range sort .Pages ".Params.role" "desc" }}
            {{ $role := .Params.role }}
            {{ $order := index $roleOrder $role | default 999 }}

            {{/* Build a slice of pages with their order embedded */}}
            {{- .Render "people_item" -}}
        {{ end }}
        </div>
    </div>

{{- end -}}
